* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #feeb81;
  font-weight: bold;
}

#form_container {
  width: 40%;
  aspect-ratio: 1;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#back_btn_container {
  width: 100%;
  margin-bottom: 2%;
}

#back_btn {
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1;
}

#add_user_form {
  width: 80%;
  aspect-ratio: 1.15;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 2%;
}

#add_user_title {
  margin-bottom: 10%;
}

span {
  width: 75%;
  height: 15%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#username,
#password {
  width: 70%;
  height: 70%;

  border: 1px solid;
  border-radius: 50px;

  box-sizing: border-box;
  padding-left: 2%;
  margin: 0% 1%;
}

#show_password {
  cursor: pointer;
}

#add_user_btn {
  border: 1px solid;
  border-radius: 50px;

  width: 50%;
  height: 10%;

  background-color: #ffb342;
  cursor: pointer;
}

#add_user_btn:hover {
  background-color: peachpuff;
}

#user_statistics {
  width: 40%;
  height: 55%;

  text-align: center;
}

#table {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

#table table {
  width: 100%;
  height: 90%;
  border-collapse: collapse;
}

#table th,
#table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#table th {
  background-color: #f2f2f2;
}

#table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tbody tr:hover {
  background-color: #ddd;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media (max-width: 427px) {
  body {
    flex-direction: column;
    justify-content: start;
  }

  h1 {
    font-size: 150%;
  }

  #form_container {
    width: 90%;
  }

  span {
    width: 100%;
    height: 20%;
  }

  #username,
  #password {
    width: 80%;
    height: 80%;
  }

  #add_user_btn {
    width: 60%;
    height: 15%;
  }

  #back_btn_container {
    width: 90%;
    height: 12.5%;
    margin-top: 2%;
  }

  #back_btn {
    height: 100%;
  }

  #user_statistics {
    width: 90%;
  }
}
