@font-face {
  font-family: "Jabrowzky";
  src: url("../JABROWZKY.ttf") format("truetype");
  font-family: "Neuton-Bold";
  src: url("../Neuton-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #feeb81;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
}

#blessing-card-and-control-box {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blessing-card-control-panel {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 3% 0%;
}

#blessing-card {
  width: 533.33px;
  height: 400px;
  position: relative;
  border: 3px solid orange;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22%;
}

#loading-gif {
  width: 100%;
  height: 100%;
}

#loading-text {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}

#blessing-text-box {
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #0a2472;
  width: 48%;
  max-height: 60%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 100%;
  font-family: "Neuton-Bold", sans-serif;
  text-align: center;
  line-height: 1.2;
  box-sizing: border-box;
  padding: 1%;
}

#control-panel {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-editor {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#text-color {
  width: 50%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 2%;
}

#color-picker {
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

#color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color-picker::-webkit-color-swatch {
  border: none;
}

#font-size {
  width: 50%;
  height: fit-content;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#template-selection-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  aspect-ratio: 1.5;
}

#template-selector {
  width: 75%;
  height: 20%;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 2%;
}

#generate-card-button {
  width: 75%;
  height: 20%;
  border-radius: 25px;
  background-color: #ffb342;
  cursor: pointer;
}

#generate-card-button:hover {
  background-color: peachpuff;
}

#render-box {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  aspect-ratio: 1.5;
}

#blessing-text {
  width: 75%;
  height: 20%;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 0% 2%;
}

#render-button {
  width: 75%;
  height: 20%;
  border-radius: 25px;
  background-color: #ffb342;
  cursor: pointer;
}

#render-button:hover {
  background-color: peachpuff;
}

#save-box {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  aspect-ratio: 1.5;
}

#save-button {
  width: 75%;
  height: 20%;
  border-radius: 25px;
  background-color: #ffb342;
  cursor: pointer;
}

#save-button:hover {
  background-color: peachpuff;
}

#make-another-card {
  font-size: 150%;
  cursor: pointer;
  color: blue;
}

#total-count {
  font-size: 150%;
}

@media (max-width: 540px) {
  #blessing-card-control-panel {
    flex-direction: column;
  }

  #blessing-card {
    width: 340px;
    height: 255px;
    margin-bottom: 2%;
  }

  #blessing-text-box {
    font-size: 65%;
  }

  #control-panel {
    width: 90%;
    /* flex-direction: row; */
  }

  #template-selection-form {
    width: 100%;
    aspect-ratio: 5;
    /* flex-direction: row; */
  }

  #template-selector {
    width: 47.5%;
    height: 45%;
  }

  #generate-card-button {
    width: 47.5%;
    height: 45%;
  }

  #render-box {
    width: 100%;
    aspect-ratio: 5;
    /* flex-direction: row; */
  }

  #blessing-text {
    width: 47.5%;
    height: 45%;
  }

  #render-button {
    width: 47.5%;
    height: 45%;
  }

  #save-box {
    width: 100%;
    aspect-ratio: 5;
    /* flex-direction: row; */
  }

  #save-button {
    width: 47.5%;
    height: 45%;
  }

  #make-another-card {
    font-size: 100%;
  }

  #total-count {
    font-size: 100%;
  }
}

@media (max-width: 427px) {
  #blessing-card {
    width: 340px;
    height: 255px;
  }
}

@media (max-width: 380px) {
  #blessing-card {
    width: 300px;
    height: 225px;
  }
}

@media (max-width: 321px) {
  #blessing-card {
    width: 256px;
    height: 192px;
  }
}