* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #feeb81;
  /* font-family: "Courier New", Courier, monospace; */
}

h1 {
  font-size: 300%;
  margin: 2% 0%;
}

#text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-bottom: 2%;
}

@media (max-width: 426px) {
  h1 {
    font-size: 200%;
  }
  #text-content {
    font-size: 50%;
  }
}

@media (max-width: 376px) {
  h1 {
    font-size: 150%;
  }
  #text-content {
    font-size: 50%;
  }
}

@media (max-width: 321px) {
  h1 {
    font-size: 125%;
  }
  #text-content {
    font-size: 50%;
  }
}
