@font-face {
  font-family: "Footlight MT Light";
  src: "../apps_templates/font/FTLTLT.TTF";
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #feeb81;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* font-family: "Courier New", Courier, monospace; */
  font-weight: bold;
}

#top-left-flower {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 19%;
}

#bottom-right-flower {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 9%;
}

#central-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}

#welcome-paragraph {
  color: black;
  font-family: "Footlight MT Light";
  font-size: 282%;
  text-align: center;
  line-height: 1.5;
}

#next-page {
  width: 50%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 120%;
  background-color: #ffb342;
  cursor: pointer;
  animation: scaleAnimation 2s infinite alternate;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#home-page-design {
  width: 30%;
}

@media (max-width: 1024px) {
  #welcome-paragraph {
    font-size: 190%;
  }
}

@media (max-width: 768px) {
  #welcome-paragraph {
    font-size: 180%;
  }
  #next-page {
    width: 80%;
  }

  #home-page-design {
    width: 50%;
  }
}

@media (max-width: 540px) {
  body {
    justify-content: space-around;
  }

  #logo {
    width: 50%;
  }

  #central-content {
    flex-direction: column;
    flex: 0.8;
  }

  #left-side {
    order: 1;
    width: 100%;
    justify-content: space-evenly;
  }

  #welcome-paragraph {
    font-size: 150%;
    margin-bottom: 3%;
  }

  #next-page {
    width: 60%;
    height: 40px;
    margin: 3%;
    font-size: 100%;
  }

  #home-page-design {
    order: -1;
    width: 70%;
  }
}
