* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #feeb81;
  /* font-family: "Courier New", Courier, monospace; */
  font-weight: bold;
}

#back-btn-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#back-arrow-button {
  cursor: pointer;
  margin-left: 5%;
}

#print-window {
  width: 640px;
  aspect-ratio: 1.333;
}

#print-button {
  width: 300px;
  aspect-ratio: 8;
  border-radius: 25px;
  background-color: #ffb342;
  margin: 1% 0%;
  cursor: pointer;
}

#print-button:hover {
  background-color: peachpuff;
}

@media (max-width: 428px) {
  #print-window {
    width: 90%;
  }
}
