* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #feeb81;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
}

/* BLESSING CARD AND SHARE OPTIONS BOX */

#blessing-card-and-control-box {
  width: 90vw;
  aspect-ratio: 2.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#blessing-card-container {
  width: 533.33px;
  aspect-ratio: 1.33;
  margin-right: 1%;
}

#share-options-box {
  width: 533.33px;
  aspect-ratio: 1.33;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1%;
  text-align: center;
  > p {
    font-size: small;
  }
}

#first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#download-button {
  width: 20%;
  text-align: center;
}

#download-icon {
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}

#print-card-button {
  width: 20%;
  text-align: center;
}

#print-icon {
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}

#second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* EMAIL */

#mail-button {
  width: 20%;
  text-align: center;
}

#mail-icon {
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}

#mail-box {
  width: 45%;
  aspect-ratio: 1.33;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#mail-back-button {
  width: 10%;
  aspect-ratio: 1;
  cursor: pointer;
}

#mail-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  aspect-ratio: 1.33;
}

#mail-form > input {
  width: 60%;
  aspect-ratio: 5;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0% 2%;
}

#mail-form > button {
  width: 60%;
  aspect-ratio: 8;
  border-radius: 25px;
  background-color: #ffb342;
  cursor: pointer;
}

#mail-form > button:hover {
  background-color: peachpuff;
}

/* COPY URL */

#copy-button {
  width: 20%;
  text-align: center;
}

#copy-icon {
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}

#make-another-card {
  font-size: 150%;
  cursor: pointer;
  color: blue;
}

#total-count {
  font-size: 150%;
}

@media (max-width: 768px) {
  #blessing-card-and-control-box {
    flex-direction: column;
  }

  #blessing-card-container {
    width: 60%;
  }

  #share-options-box {
    width: 60%;
  }

  #mail-box {
    width: 90%;
  }

  #whatsapp-box {
    width: 90%;
  }
}

@media (max-width: 426px) {
  #blessing-card-container {
    width: 80%;
  }

  #share-options-box {
    width: 80%;
  }

  #download-button > p {
    font-size: 70%;
  }

  #print-card-button > p {
    font-size: 70%;
  }

  #mail-button > p {
    font-size: 70%;
  }

  #whatsapp-button > p {
    font-size: 70%;
  }

  #make-another-card {
    font-size: 100%;
  }

  #total-count {
    font-size: 100%;
  }
}
